/*************************************** DOCUMENT ***************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --patreon-color: rgb(255, 66, 77);
}
body {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-weight: 700;
  color: var(--patreon-color);
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.9rem;
  margin: 0;
}

h3 {
  color: var(--patreon-color);
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 1.25;
  margin: 0.5rem 0;
}

header a,
footer a {
  color: white;
}

img {
  width: 100%;
}

.row .col {
  padding: 0 0.5rem 1rem 0.5rem;
}

.btn-large a,
.btn a {
  color: white;
}

/*************************************** NAVBAR ***************************************/
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left-side right-side"
    "search search";

  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 0 1rem;
}

.logo {
  grid-area: logo;
}
.left-side {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-area: left-side;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: right;
  grid-area: right-side;
}

.nav-desktop {
  display: none;
  flex-grow: 1;
  grid-area: menu-desktop;
}

.nav-desktop li {
  align-items: center;
  flex-grow: 1;
}

.nav-desktop a {
  text-decoration: none;
  color: black;
}

#dropdown-product {
  width: 250px;
}

#dropdown-resources a,
#dropdown-creators a,
#dropdown-product a {
  color: #241e11;
  font-size: 1rem;
}

.navbar form {
  align-items: center;
  position: relative;
  grid-area: search;
}

.navbar form .input-field {
  margin: 0;
}

.label-search span {
  padding-left: 3rem;
  background-color: transparent;
  height: 25px;
}

.label-search i {
  position: absolute;
  padding-left: 1rem;
}

#main-search,
#navbar-search {
  background-color: rgb(245 244 242);
  border-radius: 9999px;
  margin-bottom: 0;
}

#search::placeholder {
  color: #706c64;
}

.fa-patreon {
  color: var(--patreon-color);
  font-size: 1.7rem;
  padding: 16px 16px 16px 0;
}

.btn-large,
.btn {
  border-radius: 9999px;
  background-color: var(--patreon-color);
  font-size: 1rem;
  text-transform: none;
}

.hamburger {
  padding-left: 13.5px;
}

.hamburger i {
  font-weight: 100;
  font-size: 2rem;
}

.login {
  padding: 0 5.4px 0 16.2px;
  color: black;
  white-space: nowrap;
}
.create-button {
  padding-left: 1rem;
  min-width: 150px;
}

.create-button a {
  height: 45px;
  vertical-align: middle;
  line-height: 45px;
}

#modal-video,
#modal-menu {
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
}

/*************************************** HEADER ***************************************/
#modal-video {
  background-color: black;
  /* Magic number. Using display flex interferes with
  materialize css, couldn't find a way to center the
  video perfectly */
  padding-top: 30rem;
}

#modal-menu .modal-content {
  padding: 0 1rem;
}

#modal-menu .modal-content a {
  color: #241e11;
}
.modal-header {
  display: flex;
  align-items: center;
}

.modal-header > i {
  margin-left: auto;
  font-size: 2.5rem;
}

.collapsible {
  border-left: 0;
  border-right: 0;
}

.collapsible-header i {
  margin-left: auto;
  margin-right: 0;
  font-weight: 200;
  font-size: 2rem;
}

.collapsible-header {
  font-size: 1.2rem;

  padding-left: 0;
  padding-right: 0;
}

.collapsible-body {
  padding: 0;
}

.collapsible-body p {
  margin-bottom: 1.5rem;
}

.collapsible-body h6 {
  font-weight: 700;
}

.collapsible-body li {
  line-height: 3;
  font-size: 1.2rem;
}

header {
  background-color: #141518;
}
.header-left {
  padding: 4.5rem 2.5rem 0 2.5rem;
}

.header-image {
  position: relative;
}
.header-image img {
  padding: 5.5rem 2.5rem;
}

header .btn {
  margin: 20px 0;
}

header p {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.75;
}

header .btn-large {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  font-size: 1.1rem;
}

.play-button {
  display: flex;
  position: absolute;
  top: calc(50% - 1rem - 28px);
  left: calc(50% - 28px);
}
/*************************************** MAIN ***************************************/
.take-back-control,
.other-creators,
.easier-you-think,
.patreon-who,
.search {
  padding: 6rem 3rem;
}

.take-back-control.container {
  background-color: #fafbfc;
  width: 100%;
}

.search h2 {
  padding-bottom: 2rem;
}

.search-button {
  width: 100%;
  font-size: 1.1rem;
}

.h2-container {
  padding-bottom: 1rem;
}

.about {
  padding: 0 3rem;
}

.about p {
  padding-bottom: 5rem;
}

section > p {
  text-align: center;

  color: rgb(36, 30, 18);
  font-weight: 300;
  line-height: 2;
  font-size: 1.35rem;
}

img ~ p,
h3 ~ p {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.photo-caption {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}
.photo-caption a:hover {
  text-decoration: underline var(--patreon-color);
}

.photo-caption i {
  font-size: 3rem;
  color: var(--patreon-color);
}

.photo-caption .name {
  font-weight: bold;
  color: rgb(36, 30, 18);
}
.photo-caption .occupation {
  color: rgb(36, 30, 18);
  font-weight: 200;
}

.easier-you-think p,
.patreon-who p {
  padding-bottom: 3.5rem;
  font-size: 1.4rem;
}

.other-creators h2 {
  padding-bottom: 2.5rem;
}

.other-creators img {
  width: 100%;
}

.other-creators a {
  color: #221d11;
  text-decoration: underline;
}

.other-creators .col {
  padding: 0 2rem;
}

.creators-list {
  text-align: center;
}
.creators-list li {
  display: inline-block;
}

.creators-list a {
  color: #b1aca3;
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0.5rem;
}

.creators-list li:first-of-type a,
.creators-list a:hover {
  text-decoration: underline;
  color: black;
}

.carousel {
  margin-top: 0.5rem;
}

.take-back-control .btn-large {
  margin: 2rem 0.5rem;
}

.take-back-control p {
  padding-bottom: 1rem;
}

.take-back-control h2 {
  font-size: 2.5rem;
}
/*************************************** FOOTER ***************************************/
footer {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #141518;
}

footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "logo social social"
    "settings settings settings"
    "product for-creators for-creators"
    "resources company company"
    "copyright copyright copyright";
}

.footer-logo {
  grid-area: logo;
  padding-bottom: 1rem;
}
.footer-logo .fa-patreon {
  color: white;
  font-size: 2.2rem;
  padding: 0;
}

.settings {
  padding-bottom: 2rem;
  grid-area: settings;
  max-width: 33.33%;
}
.settings button {
  display: block;
  border: 1px solid white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  color: white;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

/* Copied from Patreon source. One image of all the flags. Width and height
set to size of one flag element in the image. Background-position is used
to offset the whole image to show a specific flag */
.settings button .flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 0.5rem;
  background-image: url(https://c5.patreon.com/external/localization/country_flags.png);
  background-position: -96px -110px;
}

footer .grid-item {
  margin: 1.5rem 0 0.5rem;
  padding-bottom: 2rem;
}

footer .grid-item a {
  display: block;
  line-height: 2rem;
}

footer .grid-item h5 {
  margin: 0 0 1.25rem;
  font-size: x-small;
}

.list.product {
  grid-area: product;
}

.list.for-creators {
  grid-area: for-creators;
}

.list.resources {
  grid-area: resources;
}

.list.company {
  grid-area: company;
}
.copyright {
  grid-area: copyright;
}

.copyright a {
  padding-left: 2rem;
}

.social {
  text-align: right;
  grid-area: social;
  position: relative;
  right: -12px;
}

.social i {
  font-size: 1rem;
}

footer h5 {
  text-transform: uppercase;
  font-size: 1rem;
}

footer p {
  font-size: 1rem;
}

/* Override materialize container width percentage for mobile */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

/*************************************** TABLET ***************************************/
/* Patreon uses a breakpoint at 768px, but materialize has
the breakpoint at 601px so I use that one for consistency */
@media screen and (min-width: 601px) {
  /* HEADER */

  header .container {
    width: 100%;
  }

  header {
    padding: 2.5rem 0 4.5rem;
  }

  .header-left h1 {
    font-size: 4rem;
    line-height: 1.3;
    padding-right: 2rem;
    margin-top: 0;
  }

  .header img {
    padding: 4.5rem 2.5rem;
  }

  /* MAIN */
  .main-search-container {
    display: flex;
    align-items: center;
  }

  .main-search-container form {
    flex-grow: 1;
  }

  .search-button {
    max-width: 100px;
    margin-left: 1.1rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  .take-back-control,
  .other-creators,
  .easier-you-think,
  .patreon-who,
  .search {
    padding-left: 0;
    padding-right: 0;
  }

  .creators-column .creators-list {
    padding: 0 3rem;
  }
  .creators-list li {
    display: block;
    text-align: left;
  }
  .creators-list a {
    line-height: 2;
    font-size: 1.7rem;
  }

  /* FOOTER */
  footer .container {
    width: 100%;
  }

  .settings button {
    width: 50%;
  }
}

/*************************************** DESKTOP ***************************************/
/* Patreon uses a breakpoint at 1024px, but materialize has
the breakpoint at 993px so I use that one for consistency */
@media screen and (min-width: 993px) {
  /* NAVBAR */
  .container {
    width: 85%;
  }
  .navbar {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "left-side search right-side";
    align-items: center;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
  }

  .nav-desktop li {
    display: flex;
  }

  .nav-desktop .navbar form {
    top: 4px;
  }

  .hamburger {
    display: none;
  }

  /* FOOTER */
  footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo . . . ."
      "settings product for-creators resources company"
      "social . . . ."
      "copyright copyright copyright copyright copyright";
  }

  footer .grid-item {
    margin-top: 0;
  }
  footer {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
  .settings {
    max-width: 100%;
  }
  .social {
    text-align: left;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    right: 0;
  }
}
