/*************************************** DOCUMENT ***************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

:root {
  --color: rgb(255, 66, 77);
}
body {
  /* height: 2000px; */
  font-family: sans-serif;
}

h1 {
  /* font-family: Walsheim, sans-serif; */
  font-family: sans-serif;
  font-weight: 700;
  color: var(--color);
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.625rem;
  margin: 0;
}

h3 {
  color: var(--color);
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 1.25;
  margin: 0.5rem 0;
}

/* p {
  font-size: 1.2rem;
} */

header a,
footer a {
  color: white;
}

.container {
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
}

.row .col {
  padding: 0 0.5rem 1rem 0.5rem;
}

.btn-large a,
.btn a {
  color: white;
}
/*************************************** NAVBAR ***************************************/
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left-side right-side"
    "search search";

  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 0 16px;
}

.logo {
  grid-area: logo;
  /* background-color: orange; */
}
.left-side {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-area: left-side;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: right;
  grid-area: right-side;
  /* background-color: lightpink; */
}

#nav-desktop {
  display: none;
  align-items: center;
  flex-grow: 1;
  grid-area: menu-desktop;
  /* background-color: lightseagreen; */
}

#nav-desktop li {
  flex-grow: 1;
  /* border: 1px solid purple; */
}
#nav-desktop a {
  text-decoration: none;
  color: black;
}

.navbar form {
  position: relative;
  top: -5px;
  grid-area: search;
}

.navbar form .input-field {
  margin-top: 0;
  margin-bottom: 9px;
}

#search {
  background-color: rgb(245 244 242);
  border-radius: 9999px;
  margin-bottom: 0;
  /* padding: 8px 12px; */
}

#search::placeholder {
  color: #706c64;
}

.fa-patreon {
  color: var(--color);
  font-size: 1.7rem;
  padding: 16px 16px 16px 0;
}

.btn-large,
.btn {
  border-radius: 9999px;
  background-color: var(--color);
  font-size: 1rem;
  text-transform: none;
}

.hamburger {
  padding-left: 13.5px;
}

.login {
  padding: 0 5.4px 0 16.2px;
  color: black;
  white-space: nowrap;
}
.create {
  padding: 16px 4.5px 16px 13.5px;
}

.caron {
  /* font-size: 2rem; */
}

#modal1 {
  min-width: 100vw;
  min-height: 100vh;
}

/*************************************** HEADER ***************************************/
header {
  background-color: #141518;
}
.header-left {
  padding: 4.5rem 2.5rem 0 2.5rem;
}

.header-image {
  position: relative;
}
.header-image img {
  padding: 5.5rem 2.5rem;
}

header .btn {
  margin: 20px 0;
}

header p {
  margin: 1rem 0 1.5rem 0;
}

header .btn-large {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.play-button {
  display: flex;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
}
/*************************************** MAIN ***************************************/

.search {
  padding: 6rem 3rem;
}

.search-button {
  width: 100%;
  font-size: 1.1rem;
}

.h2-container {
  padding-bottom: 1rem;
}
/* .search h2 {
  padding: 0 0.5rem;
} */

.about {
  padding: 0 3rem;
}

.about p {
  padding-bottom: 5rem;
}

section > p {
  text-align: center;

  color: rgb(36, 30, 18);
  font-weight: 300;
  line-height: 2;
  font-size: 1.35rem;
}

img ~ p,
h3 ~ p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.photo-caption {
  display: flex;
  align-items: center;
}
.photo-caption i {
  font-size: 3rem;
  color: var(--color);
}

.other-creators img {
  width: 100%;
}

.creators-list li {
  display: inline-block;
}

.creators-list a {
  color: rgb(177, 172, 163);
  font-size: 1.625rem;
  font-weight: 700;
}

.creators-list a:hover {
  text-decoration: underline;

  color: black;
}

.container {
}

/*************************************** FOOTER ***************************************/
footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "logo logo social"
    "settings . ."
    "product for-creators ."
    "resources company ."
    "copyright . .";
}

.footer-logo {
  grid-area: logo;
}
.settings div {
  border: 2px solid white;
  width: 200px;
  grid-area: settings;
  /* font-size: 1rem; */
}

.list.product {
  grid-area: product;
}

.list.for-creators {
  grid-area: for-creators;
}

.list.resources {
  grid-area: resources;
}

.list.company {
  grid-area: company;
}
.copyright {
  grid-area: copyright;
}

.social {
  grid-area: social;
}

footer h5 {
  text-transform: uppercase;
  font-size: 1rem;
}

footer p {
  font-size: 1rem;
}
/*************************************** DESKTOP ***************************************/

@media screen and (min-width: 768px) {
  .creators-list li {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* NAVBAR */
  .navbar {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "left-side search right-side";
  }

  #nav-desktop {
    display: flex;
    /* background-color: lime; */
  }

  .hamburger {
    display: none;
  }

  /* FOOTER */
  footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo logo logo logo logo"
      "settings product for-creators resources company"
      "social social social social social"
      "copyright copyright copyright copyright copyright";
  }
}
